<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant Lights</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>

<body>
    <div class="container">
        <div class="form-wrapper">
            <h1>Colour setter</h1>
            <form action="/" method="post">
                <div class="input-wrapper">
                    <label for="input-red">R</label>

                    <div class="slidecontainer">
                        input(class='slider', id='slider-red', type='range', min=0, max=255, value=red)
                    </div>

                    input(id='input-red', type='number', min=0, max=255, value=red, name='red', placeholder='0 - 255')
                </div>

                <div class="input-wrapper">
                    <label for="input-green">G</label>
                    
                    <div class="slidecontainer">
                        input(class='slider', id='slider-green', type='range', min=0, max=255, value=green)
                    </div>
                    input(id='input-green', type='number', min=0, max=255, value=green, name='green',  placeholder='0 - 255')
                </div>

                <div class="input-wrapper">
                    <label for="input-blue">B</label>

                    <div class="slidecontainer">
                        input(class='slider', id='slider-blue', type='range', min=0, max=255, value=blue)
                    </div>
                    input(id='input-blue', type='number', min=0, max=255, value=blue, name='blue', placeholder='0 - 255')
                </div>

                <h2>Preview</h2>
                div(id='preview', style=`background-color: rgb(${red},${green},${blue}`)

                <input type="submit" value="Submit">
            </form>
        </div>
    </div>

    <script type="text/javascript" src="script.js"></script>
</body>

</html>